/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html * {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  }

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position-y: -10rem;  
}

.user {
  width: 40px;
  height: 40px;
}

.nav {
  margin-right: 1rem !important;
  font-family: 'Bebas Neue', cursive !important;
  font-size: 1.5rem !important;
  display: flex !important;
  justify-content: space-between !important;
}

.slogan {
  color: white;
  text-align: center;
}
.video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 40%;
  height: 90%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-Index: -1;
}
.imgTravel {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.cover{
  width: 100%;
  height: 500px;
}
.titleCarousel {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}
.carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #318fee;
}

.footer {
  background-color: #212529;
  color: white;
  margin-top: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socialNetworks {
  width: 30px;
  height: 30px;
  padding: .1rem;
}
.socialNetworksIG {
  width: 35px;
  height: 35px;
  padding: .1rem;
}
a{
  text-decoration: none;
}