/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html * {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  }

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position-y: -10rem;  
}
.tarjetas{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 8rem;
}
.city-container-card{
  margin-right: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user {
  width: 40px;
  height: 40px;
}

.nav {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 1.5rem !important;
}

.slogan {
  color: white;
  text-align: center;
}
.video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 40%;
  height: 90%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-Index: -1;
}
.imgTravel {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.cover{
  width: 100%;
  height: 500px;
}
.titleCarousel {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}
.title-city{
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  padding: 1rem;
}
.back{
  color: black;
  background-color: rgba(37, 152, 219, 0.842);
  border-radius: .5rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: 'Bebas Neue', cursive;
}
.alert{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
}
.name-city{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
}
.name-country{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: x-large;
  margin-bottom: 5rem;
}
.card{
  display: flex;
  justify-content: flex-start;
  width: 75%;
  padding: 1rem;
  margin-left: 12rem;
}
.name-container{
  margin-bottom: 2rem;
}
.under{
  text-align: center;
  font-family: 'Bebas Neue';
}
.carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #318fee;
}
.image-city{
  width: 100%;
  display: flex;

}
.flecha{
  background-color: rgba(0, 0, 255, 0.151) !important;
  padding: .5rem !important;
}
.flechas{
  padding: .5rem !important;
}

.footer {
  background-color: #212529;
  color: white;
  margin-top: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socialNetworks {
  width: 30px;
  height: 30px;
  padding: .1rem;
}
.socialNetworksIG {
  width: 35px;
  height: 35px;
  padding: .1rem;
}
a{
  text-decoration: none;
}